<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    </head>

    <body style="margin: auto; font-family: sans-serif;">
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh; ">
            <div class="main" style="background-color: #FDF5F2; max-width: 650px; min-height: 600px; border-radius: 8px; margin: auto;">

                <div style="background-color: #DD5928; height: 200px; padding-top: 40px; border-radius: 8px 8px 0 0;
                    background-image: url('utils/assets/template-header.png');
                    background-size: 100% 100%;"
                >

                    <div style="background-color: #ffffff;border-radius: 8px;  margin: auto; text-align: center;  margin: 0px 25px; padding: 0px 30px;">
                        <div class="header2" style="max-width: 600px;padding: 30px 0;border-bottom: 1px solid #D8DAE5;">
                            <img src='utils/assets/redi-logo.png' alt="Redi Logo" style="width: 50%;">
                        </div>
                        <div style="line-height: 28px; margin-top: 20px;">
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474D66;margin: auto;text-align: start;">
                                Hello <%= full_name %>
                            </p><br>   
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                <%= instruction %>
                            </p>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                Items Charges: <%= items_charge %>
                            </p>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                Tax Charges: <%= tax_charges %>
                            </p>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                Delivery Charges: <%= delivery_charges %>
                            </p>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                Items Charges: <%= items_charge %>
                            </p>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                -----------------------------------------------------
                            </p>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                Total Charges: <%= total_charges %>
                            </p><br>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                Delivery Date: <%= delivery_date %>
                            </p><br>
                            <p style="font-family: 'work-sans', sans-serif;font-style: normal;font-weight: 400;font-size: 16px;padding: 5px 0 15px;color: #474d66;margin: auto;text-align: start;">
                                Thanks,<br>Redi Express team
                            </p><br>

                            <br><br>
                        </div><br>